{% extends 'core/base.html' %}

{% block content %}
<h1>Hardware Database Tools</h1>

<h3 class="mt-4">System Navigator</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>System ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for system_id_obj in system_ids %}
        <tr>
            <td>{{ system_id_obj.id }}</td>
            <td>{{ system_id_obj.name }}</td>
            <td>
                <a href="{% url 'hwdb:subsystem_list_by_id' part1=system_id_obj.id|slice:":1" part2=system_id_obj.id|slice:"1:" %}" class="btn btn-primary btn-sm">View Subsystems</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No system IDs defined.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3 class="mt-4">CE Records in HWDB</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Part Type ID</th>
            <th>Name</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for ce in ce_list %}
        <tr>
            <td>{{ce.part_type_id}}</td>
            <td>{{ce.name}}</td>
            <td>
                <a href="https://dbweb2.fnal.gov:8443/cdbdev/view/components?pa={{ ce.part_type_id }}" class="btn btn-primary btn-sm" target="_blank" title="View in external DB">View Records</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}