{% extends 'core/base.html' %}

{% block content %}
<h1>Part Types for Subsystem {{ current_subsystem_id }} ({{ current_part1 }}/{{ current_part2 }})</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Part Type ID</th>
            <th>Full Name</th>
            <th>Creator</th>
            <th>Created</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for part_type in part_types %}
        <tr>
            <td>{{ part_type.part_type_id }}</td>
            <td>{{ part_type.full_name|default:"N/A" }}</td>
            <td>{{ part_type.creator.name|default:"N/A" }}</td>
            <td>{{ part_type.created|date:"Y-m-d H:i" }}</td>
            <td>{{ part_type.comments|default:"N/A" }}</td>
            <td>
                <a href="{% url 'hwdb:component_list' component_type_id=part_type.part_type_id %}" class="btn btn-info btn-sm">View Components</a>&nbsp;&nbsp;&nbsp;
                <a href="https://dbweb2.fnal.gov:8443/cdbdev/view/components?pa={{ part_type.part_type_id }}" target="_blank" title="View in external DB"> &#x2197;</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No part types found for this subsystem.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}