{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">{{ adc }}</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Status:</strong> {{ adc.status }}</p>
            {% if adc.femb %}
            <p class="card-text"><strong>FEMB:</strong> <a href="{% url 'femb_detail' version=adc.femb.version serial_number=adc.femb.serial_number %}">{{ adc.femb.serial_number }}</a></p>
            <p class="card-text"><strong>FEMB Position:</strong> {{ adc.femb_pos }}</p>
            {% endif %}
            <p class="card-text"><strong>Last Update:</strong> {{ adc.last_update|date:"Y-m-d H:i:s" }}</p>
        </div>
    </div>
</div>
{% endblock %}