{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">{{ coldata }}</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Status:</strong> {{ coldata.status }}</p>
            {% if coldata.femb %}
            <p class="card-text"><strong>FEMB:</strong> <a href="{% url 'femb_detail' version=coldata.femb.version serial_number=coldata.femb.serial_number %}">{{ coldata.femb.serial_number }}</a></p>
            <p class="card-text"><strong>FEMB Position:</strong> {{ coldata.femb_pos }}</p>
            {% endif %}
            <p class="card-text"><strong>Last Update:</strong> {{ coldata.last_update|date:"Y-m-d H:i:s" }}</p>
        </div>
    </div>

    {% if coldata.removed_at_repair %}
    <div class="alert alert-warning mt-3" role="alert">
        Removed from FEMB
        <a href="{% url 'femb_detail' version=coldata.removed_at_repair.femb.version serial_number=coldata.removed_at_repair.femb.serial_number %}">{{ coldata.removed_at_repair.femb.serial_number }}</a>
        during repair #{{ coldata.removed_at_repair.iteration_number }}
        on {{ coldata.removed_at_repair.date|date:"Y-m-d" }}.
    </div>
    {% endif %}
</div>
{% endblock %}