{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">{{ femb }}</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Version:</strong> {{ femb.version }}</p>
            <p class="card-text"><strong>Status:</strong> {{ femb.status }}</p>
            <p class="card-text"><strong>Last Update:</strong> {{ femb.last_update|date:"Y-m-d H:i:s" }}</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <h3>LArASICs</h3>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Serial Number</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fe in femb.fe_set.all %}
                        <tr>
                            <td><a href="{% url 'fe_detail' fe.serial_number %}">{{ fe.serial_number }}</a></td>
                            <td>{{ fe.femb_pos }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>ColdADCs</h3>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Serial Number</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adc in femb.adc_set.all %}
                        <tr>
                            <td><a href="{% url 'adc_detail' adc.serial_number %}">{{ adc.serial_number }}</a></td>
                            <td>{{ adc.femb_pos }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>COLDATAs</h3>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Serial Number</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coldata in femb.coldata_set.all %}
                        <tr>
                            <td><a href="{% url 'coldata_detail' coldata.serial_number %}">{{ coldata.serial_number }}</a></td>
                            <td>{{ coldata.femb_pos }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}