{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<h1>Cold Electronics Tracking System</h1>

<div class="my-5">
    <img src="{% static 'core/images/ce-diag.png' %}" class="img-fluid" alt="Cold Electronics Diagram" style="width: 70%;">
</div>

<!-- 
<div x-data="{ open: false }">
    <button @click="open = !open" class="btn btn-primary">Toggle Content (Alpine.js)</button>
    <div x-show="open" class="mt-4 p-4 border rounded">
        This content is toggled by Alpine.js.
    </div>
</div>

<div class="mt-5">
    <div id="item-list">
        {% for item in items %}
            <p>Item {{ item }}</p>
        {% endfor %}
    </div>
    <button hx-get="/load-more/" hx-target="#item-list" hx-swap="beforeend" class="btn btn-success mt-4">
        Load More (HTMX)
    </button>

    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>
-->
{% endblock %}